In [1]:
## 정규표현식으로 데이터를 제거, 변환
## 판다스 라이브러리 에서 정규표현식 사용해서 제거

In [3]:
import re
import pandas as pd

In [4]:
train_data = pd.read_csv('ratings_train.csv')

In [5]:
## 파이썬 Re 모듈 사용하기

In [6]:
phone_number="""010-3456-3234 02-3459-3424 032-3242-1533"""
str_sample='''abcd apple banana'''

In [7]:
pn_p=re.compile('([0-9]+)-([0-9]+)-([0-9]+)')
s_p_start_a=re.compile('(^a)\w+')
s_p_end_a=re.compile('\w+(a$)')
s_p_inside_pn= re.compile('\w+[pn]\w+')

## match
* 문자열의 처음부터 정규식과 매치되는지 조사한다
* group(): 매치되는 문자열을 리턴
* start(): 매치된 문자열의 시작위치를 리턴
* end(): 매치된 문자열의  끝 위치를 리턴
* span(): 매치된 문자열의 (시작,끝)헤당 하는 위치를 튜플로 리턴한다

In [10]:
print(pn_p.match(phone_number))

<re.Match object; span=(0, 13), match='010-3456-3234'>

In [11]:
pn_p_rs=pn_p.match(phone_number)
if pn_p_rs:
    print(pn_p_rs.group())
    print(pn_p_rs.start())
    print(pn_p_rs.end())
    print(pn_p_rs.span())
else:
    print("일치하는게 없단다")

010-3456-3234
0
13
(0, 13)

In [18]:
pn_p_rs.group(3)

'3234'

In [19]:
re.match("(?P<first>[0-9]+)-(?P<middle>[0-9]+)-(?P<end>[0-9]+)",phone_number).groupdict()

{'first': '010', 'middle': '3456', 'end': '3234'}

In [20]:
def patRS(p):
    if p:
        print(p.group())
    else:
        print("Nope!")

In [21]:
spsa = s_p_start_a.match(str_sample)
spsa

In [22]:
patRS(spsa)

abcd

In [23]:
spea = s_p_end_a.match(str_sample)
spea

In [25]:
patRS(spea)

Nope!

In [27]:
spipn = s_p_inside_pn.match(str_sample)
spipn

In [28]:
patRS(spipn)

Nope!

## serach 메서드 사용하기
* 문자열 전체를 검색하여 정규식과 매치되는지 확인한다

In [30]:
pn_p_rs=pn_p.search(phone_number)
pn_p_rs

In [31]:
s_p_inside_pn.search(str_sample)

In [32]:
s_p_end_a.search(str_sample)

### findall 
* 패턴을 문자열에서 모두 찾아 리스트로 리턴한다

In [33]:
pn_p.findall(phone_number)

[('010', '3456', '3234'), ('02', '3459', '3424'), ('032', '3242', '1533')]

In [34]:
s_p_inside_pn.findall(str_sample)

['apple', 'banana']

### finditer

In [35]:
pn_p_rs=pn_p.finditer(phone_number)
pn_p_rs

In [36]:
for r in pn_p_rs:
    print(r)

<re.Match object; span=(0, 13), match='010-3456-3234'>
<re.Match object; span=(14, 26), match='02-3459-3424'>
<re.Match object; span=(27, 40), match='032-3242-1533'>

### sub로 데이터 바꾸기

In [37]:
print(str_sample)
s_p_start_a.sub('zzz',str_sample)

abcd apple banana

'zzz apple banana'

### pandas 정규표현식

In [38]:
phone_number_df=pd.DataFrame(data=phone_number.split(' '))
str_sample_df = pd.DataFrame(data=str_sample.split(' '))
phone_number_df

               0
0  010-3456-3234
1   02-3459-3424
2  032-3242-1533

In [39]:
phone_number_df[0].str.replace("010","00")

0     00-3456-3234
1     02-3459-3424
2    032-3242-1533
Name: 0, dtype: object

In [43]:
phone_number_df[0].str.contains("([0-9]+)-([0-9]+)-([0-9]+)", regex=True)

/tmp/ipykernel_3645/594732280.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  phone_number_df[0].str.contains("([0-9]+)-([0-9]+)-([0-9]+)", regex=True)

0    True
1    True
2    True
Name: 0, dtype: bool

In [45]:
str_sample_df[0].str.contains('\w+[pn]\w+')

0    False
1     True
2     True
Name: 0, dtype: bool

In [47]:
str_sample_df['TR']=str_sample_df[0].str.contains('\w+[pn]\w+')
str_sample_df

        0     TR
0    abcd  False
1   apple   True
2  banana   True

In [49]:
tmp=str_sample_df[(str_sample_df['TR']==True)][0].tolist()

In [50]:
' '.join(tmp)

'apple banana'

In [51]:
phone_number_df[0].str.findall('([0-9]+)-([0-9]+)-([0-9]+)')

0    [(010, 3456, 3234)]
1     [(02, 3459, 3424)]
2    [(032, 3242, 1533)]
Name: 0, dtype: object

In [53]:
phone_number_df[0].str.split('-',expand=True)

     0     1     2
0  010  3456  3234
1   02  3459  3424
2  032  3242  1533

In [94]:
### 데이터 변환, .을 미리 제거하기
train_data=pd.read_csv('ratings_train.csv',sep=',',encoding='utf8')
test_data=pd.read_csv('ratings_test.csv',sep=',',encoding='utf8')

In [95]:
email_pattern = '([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)'
url_pattern = '(http|ftp|https)://(?:[-\w.]|(?:%[\da-fA-F]{2}))+'
sperate_pattern = '([ㄱ-ㅎㅏ-ㅣ]+)'
HTML_tag_pattern= '<[^>]*>'
special_pattern='[^\w\s]'

In [97]:
train_data['document']=train_data['document'].str.replace(email_pattern,'')
train_data['document']=train_data['document'].str.replace(url_pattern,'')
train_data['document']=train_data['document'].str.replace(sperate_pattern,'')
train_data['document']=train_data['document'].str.replace(HTML_tag_pattern,'')
train_data['document']=train_data['document'].str.replace(special_pattern,'')

/tmp/ipykernel_3645/1774706402.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document']=train_data['document'].str.replace(email_pattern,'')
/tmp/ipykernel_3645/1774706402.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document']=train_data['document'].str.replace(url_pattern,'')
/tmp/ipykernel_3645/1774706402.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document']=train_data['document'].str.replace(sperate_pattern,'')
/tmp/ipykernel_3645/1774706402.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document']=train_data['document'].str.replace(HTML_tag_pattern,'')
/tmp/ipykernel_3645/1774706402.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document']=train_data['document'].str.replace(special_pattern,'')

In [102]:
train_data['document']

0                                         아 더빙 진짜 짜증나네요 목소리
1                                흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나
2                                         너무재밓었다그래서보는것을추천한다
3                                 교도소 이야기구먼 솔직히 재미는 없다평점 조정
4         사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...
                                ...
149995                                      인간이 문제지 소는 뭔죄인가
149996                                           평점이 너무 낮아서
149997                        이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다
149998                           청춘 영화의 최고봉방황과 우울했던 날들의 자화상
149999                             한국 영화 최초로 수간하는 내용이 담긴 영화
Name: document, Length: 150000, dtype: object

In [106]:
train_data['document'].str.contains("([.]+)")

/tmp/ipykernel_3645/474021862.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  train_data['document'].str.contains("([.]+)")

0         False
1         False
2         False
3         False
4         False
          ...
149995    False
149996    False
149997    False
149998    False
149999    False
Name: document, Length: 150000, dtype: object